 version: 2.1

 jobs:
   build:
     docker:
       - image: mcr.microsoft.com/dotnet/core/sdk:3.1   
     steps:
       - checkout
       - run: 
          name: Restore packages
          command: 
            dotnet restore
       - run: 
          name: Build app
          command: 
            dotnet build
       - run: 
          name: Run app
          command: 
            dotnet run --project src/MySampleApp
