 version: 2.1

 orbs:
  azure-acr: circleci/azure-acr@0.2.0
  slack: circleci/slack@3.4.2

 jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1 
    steps:
      - checkout
      - run:
          name: Restore
          command: dotnet restore
      - run:
          name: Build 
          command: dotnet build

  stage-deploy:
    machine:
      image: ubuntu-1604:201903-01 
    steps:
      - checkout
      - azure-acr/build-and-push-image:
          login-server-name: $ACR_SERVER_NAME
          registry-name: $ACR_REGISTRY_NAME
          repo: $ACR_REPO_NAME
          tag: latest
      - slack/status:
          fail_only: true
          failure_message: "Staging $CIRCLE_JOB deployment has failed! :wall:"
          webhook: ${SLACK_WEBHOOK}
      - slack/status:
          fail_only: false
          success_message: "Staging $CIRCLE_JOB deployment has been succeeded! :tada:"
          webhook: ${SLACK_WEBHOOK}

  prod-deploy:
    machine:
      image: ubuntu-1604:201903-01 
    steps:
      - checkout
      - azure-acr/build-and-push-image:
          login-server-name: $ACR_SERVER_NAME
          registry-name: $ACR_REGISTRY_NAME
          repo: $ACR_REPO_NAME
          tag: latest
      - slack/status:
          fail_only: true
          failure_message: "Production $CIRCLE_JOB deployment has failed! :wall:"
          webhook: ${SLACK_WEBHOOK}
      - slack/status:
          fail_only: false
          success_message: "Production $CIRCLE_JOB deployment has been succeeded! :tada:"
          webhook: ${SLACK_WEBHOOK}

  prod-approval-notify:
    machine:
        image: 'ubuntu-1604:201903-01'
    steps:
       - slack/approval:
          message: "Production deployment pending for approvals 'https://circleci.com/workflow-run/${CIRCLE_WORKFLOW_ID}'"
          color: "#42e2f4"
          webhook: "$SLACK_WEBHOOK"
          url: 'https://circleci.com/workflow-run/${CIRCLE_WORKFLOW_ID}'

 workflows:
  build_and_deploy:
    jobs:
      - build
      - stage-deploy:
          requires:
            - build
          filters:
            branches:
              only: master
      - prod-approval-notify:
          requires:
              - stage-deploy
      - prod-deploy:
          requires:
            - stage-deploy
            - prod-approval-notify
          type: approval
          filters:
            branches:
              only: master
