 version: 2.1

 orbs:
  azure-acr: circleci/azure-acr@0.2.0
  slack: circleci/slack@3.4.2

 jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1 
    steps:
      - checkout
      - run:
          name: Restore
          command: dotnet restore
      - run:
          name: Build 
          command: dotnet build

  stage-deploy:
    machine:
      image: ubuntu-1604:201903-01 
    steps:
      - slack/notify:
          title: "Staging Deployment"
          message: "Staging deployment started!"
          color: "#42e2f4"
          webhook: ${SLACK_WEBHOOK}
      - checkout
      - azure-acr/build-and-push-image:
          login-server-name: $ACR_SERVER_NAME
          registry-name: $ACR_REGISTRY_NAME
          repo: $ACR_REPO_NAME
          tag: latest
      - slack/status:
          fail_only: true
          failure_message: "Staging deployment failed!"
          webhook: ${SLACK_WEBHOOK}
      - slack/status:
          fail_only: false
          success_message: "Staging deployment has been completed!"
          webhook: ${SLACK_WEBHOOK}

  prod-deploy:
    machine:
      image: ubuntu-1604:201903-01 
    steps:
      - checkout
      - azure-acr/build-and-push-image:
          login-server-name: $ACR_SERVER_NAME
          registry-name: $ACR_REGISTRY_NAME
          repo: $ACR_REPO_NAME
          tag: latest

 workflows:
  build_and_deploy:
    jobs:
      - build
      - stage-deploy:
          requires:
            - build
          filters:
            branches:
              only: master
      - prod-deploy:
          requires:
            - stage-deploy
          type: approval
          filters:
            branches:
              only: master
