 version: 2.1

 orbs:
  azure-acr: circleci/azure-acr@0.2.0
  slack: circleci/slack@3.4.2

 commands:
  notify-failure:
    steps:
      - slack/status:
          fail_only: true
          failure_message: ":wall: $CIRCLE_JOB has failed!"
          webhook: ${SLACK_WEBHOOK}

  notify-success:
    steps:
      - slack/status:
          fail_only: false
          failure_message: ":tada: $CIRCLE_JOB has been succeeded!"
          webhook: ${SLACK_WEBHOOK}

  notify-approval:
    steps:
       - slack/approval:
          message: ":warning: Production deployment pending for approvals 'https://circleci.com/workflow-run/${CIRCLE_WORKFLOW_ID}'"
          color: "#42e2f4"
          webhook: "$SLACK_WEBHOOK"
          url: 'https://circleci.com/workflow-run/${CIRCLE_WORKFLOW_ID}'
  
  appservice-deploy:
    parameters:
      app-name:
        description: |
          Name of the application
        type: string
      resource-group:
        description: |
          Name of the resource group
        type: string
      image-path:
        description: |
          Path of the image
        type: string
      version:
        description: |
          Path of the image
        type: string 
    steps:
      - run:
          command: az webapp config container set --name <<parameters.app-name>> --resource-group <<parameters.resource-group>> --docker-custom-image-name <<parameters.image-path>>:<<parameters.version>>
          name: Deploy container to Azure App Services

 jobs:
  dev-deploy:
    machine:
      #docker_layer_caching: true #Does not support for free plan
      image: ubuntu-1604:201903-01 
    steps:
      - azure-acr/build-and-push-image:
          login-server-name: $ACR_SERVER_NAME
          registry-name: $ACR_REGISTRY_NAME
          repo: $ACR_REPO_NAME
          tag: dev
      - notify-failure
      - notify-success

  stage-deploy:
    machine:
      image: ubuntu-1604:201903-01 
    steps:
      - azure-acr/build-and-push-image:
          login-server-name: $ACR_SERVER_NAME
          registry-name: $ACR_REGISTRY_NAME
          repo: $ACR_REPO_NAME
          tag: latest,v<< pipeline.number >>
      - notify-failure
      - notify-success
      - notify-approval

  prod-deploy:
    machine:
      image: ubuntu-1604:201903-01 
    steps:
      - appservice-deploy:
          app-name: iamsampleapp
          resource-group: IAM-organization-staging-rg
          image-path: sampleappcontainerregistry.azurecr.io/sampleapp
          version: v<< pipeline.number >>
      - notify-failure
      - notify-success

 workflows:
  build_and_deploy:
    jobs:
      - dev-deploy:
          filters:
            branches:
              ignore: master
      - stage-deploy:
          filters:
            branches:
              only: master
      - prod-deploy:
          requires:
            - stage-deploy
          type: approval
